_The following downloads are provided under the terms and conditions of the  
[Eclipse Foundation Software User Agreement](https://www.eclipse.org/legal/epl/notice/) unless otherwise specified._

# Maven Artifacts

The following artifacts are available from the [Central Repository](https://central.sonatype.com/search?namespace=org.eclipse.sisu):

*  JSR-330-based container that supports classpath scanning, auto-binding, and dynamic auto-wiring

    ```
    <dependency>
        <groupId>org.eclipse.sisu</groupId>
        <artifactId>org.eclipse.sisu.inject</artifactId>
        <version>${project.version}</version>
    </dependency>
    ```

    This artifact embedded [ASM (for Java bytecode parsing)](https://asm.ow2.io/) by default till version 0.9.0M3. A version without ASM was available with classifier `no_asm`. 
    Newer versions of this artifact provide an ASM embedded variant with classifier `embedded_asm`, the artifact without classifier does no longer embed ASM (but still depends on it).

*  Maven plugin that generates annotation indexes for Sisu to avoid classpath scanning at runtime

    ```
    <plugin>
      <groupId>org.eclipse.sisu</groupId>
      <artifactId>sisu-maven-plugin</artifactId>
      <version>${project.version}</version>
    </plugin>
    ```

*  Implementation of Plexus container API and injection semantics on top of Sisu and Google Guice

    ```
    <dependency>
      <groupId>org.eclipse.sisu</groupId>
      <artifactId>org.eclipse.sisu.plexus</artifactId>
      <version>${project.version}</version>
    </dependency>
    ```

# Eclipse Update Site (legacy)

Versions newer than 0.3.5 [don't provide a dedicated Eclipse P2 update site (in ZIP format) but only the raw OSGi bundles as Maven artifacts](https://github.com/eclipse-sisu/sisu-project/issues/62) as all Sisu bundles are not Eclipse specific at all.

The last available compressed update sites are

*   [Sisu-Inject 0.3.5](https://repo1.maven.org/maven2/org/eclipse/sisu/org.eclipse.sisu.inject.site/0.3.5/org.eclipse.sisu.inject.site-0.3.5.zip)
*   [Sisu-Plexus 0.3.5](https://repo1.maven.org/maven2/org/eclipse/sisu/org.eclipse.sisu.plexus.site/0.3.5/org.eclipse.sisu.plexus.site-0.3.5.zip)

which need to be downloaded locally and then your P2 installer needs to point to according local ZIP files.
For leveraging newer versions in the Eclipse context just [reference the Maven artifacts via the m2e PDE integration](https://xn--lubisoft-0za.gmbh/en/articles/using-maven-artifacts-in-pde-rcp-and-tycho-builds/).
