#header {
  background-color: #686884;
  border-bottom: 3px solid #686884;
}
#masthead-title {
  font-family: courier, monospace;
  color: #FFFFFF;
}
#search_filtered .jd-selected {
  background-color: #686884;
}
#search_filtered_div {
  border: 1px solid #686884;
}
input.gsc-input {
  border: 1px solid #D8D8E2;
}
#resize-packages-nav {
  height: 225px;
}
#packages-nav {
  height: 225px;
}
#side-nav .selected {
  background-color: #686884;
}
#index-links .selected {
  background-color: #FFFFFF;
}
#jd-header {
  background-color: #D8D8E2;
}
th {
  background-color: #D8D8E2;
}
tr.alt-color {
  background-color: #F0F0F5 !important;
}
a, a:link, a code, a:link code {
  color: #558;
}
a:active, a:active code {
  color: #558;
} 
a:visited, a:visited code {
  color: #558;
}
#jd-content h1 {
  color:#111;
}
#jd-content h2 {
  color:#111;
}
#jd-content h3 {
  color:#111;
}
