<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.7"?>
<target name="org.eclipse.sisu.plexus" sequenceNumber="0">
	<locations>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.osgi</groupId>
			<artifactId>org.eclipse.osgi</artifactId>
			<version>3.10.100.v20150529-1857</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.eclipse.jdt</groupId>
			<artifactId>org.eclipse.jdt.apt.core</artifactId>
			<version>3.4.100</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.slf4j</groupId>
			<artifactId>slf4j-api</artifactId>
			<version>1.6.4</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>ch.qos.logback</groupId>
			<artifactId>logback-core</artifactId>
			<version>1.0.0</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>ch.qos.logback</groupId>
			<artifactId>logback-classic</artifactId>
			<version>1.0.0</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>javax.annotation</groupId>
			<artifactId>javax.annotation-api</artifactId>
			<version>1.2</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.apache.servicemix.bundles</groupId>
			<artifactId>org.apache.servicemix.bundles.javax-inject</artifactId>
			<version>1_3</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.apache.servicemix.bundles</groupId>
			<artifactId>org.apache.servicemix.bundles.aopalliance</artifactId>
			<version>1.0_1</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>javax.enterprise</groupId>
			<artifactId>cdi-api</artifactId>
			<version>1.0</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>com.google.guava</groupId>
			<artifactId>guava</artifactId>
			<version>16.0</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>com.google.inject</groupId>
			<artifactId>guice</artifactId>
			<version>4.0</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>javax.servlet</groupId>
			<artifactId>servlet-api</artifactId>
			<version>2.5</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>com.google.inject.extensions</groupId>
			<artifactId>guice-servlet</artifactId>
			<version>4.0</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>junit</groupId>
			<artifactId>junit</artifactId>
			<version>4.11</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.testng</groupId>
			<artifactId>testng</artifactId>
			<version>6.7</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.codehaus.plexus</groupId>
			<artifactId>plexus-classworlds</artifactId>
			<version>2.5.2</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.codehaus.plexus</groupId>
			<artifactId>plexus-utils</artifactId>
			<version>3.0.17</version>
			<type>jar</type>
		</location>
		<location includeSource="true" missingManifest="generate" type="Maven">
			<groupId>org.codehaus.plexus</groupId>
			<artifactId>plexus-component-annotations</artifactId>
			<version>1.5.5</version>
			<type>jar</type>
		</location>
	</locations>
</target>
