@CHARSET "UTF-8";

.sisu div{position:absolute;}
.sisu-0{width:272px;height:92px;border:4px solid #000;}
.sisu-1{left:24px;top:24px;background:#000;}
.sisu-2{width:60px;height:4px;left:30px;top:30px;background:#000;}
.sisu-3{width:60px;height:4px;top:60px;background:#000;}
.sisu-4{left:54px;top:54px;background:#000;}
.sisu-5{width:4px;height:88px;left:90px;background:#000;}
.sisu-6{width:4px;height:88px;left:120px;background:#000;}
.sisu-7{width:4px;height:60px;left:120px;background:#000;}
.sisu-8{left:114px;top:54px;background:#000;}
.sisu-dot{width:16px;height:16px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}

@media (min-width:992px){
div.sisu{position:relative;top:-160px;left:20px;}}

@media (min-width:0px) and (max-width:991px){
div.sisu{position:relative;top:-465px;left:20px;}}

