
name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java: [ '17', '21', '24' ]
        include:
          # lengthy build steps should only be performed on linux with Java 17 (Sonarcloud analysis, deployment)
          - os: ubuntu-latest
            java: '17'
            isMainBuildEnv: true
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      # sets environment variables to be used in subsequent steps: https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable
      - name: Set environment variables
        shell: bash
        run: |
          if [ "${{ matrix.isMainBuildEnv }}" = "true" ]; then
            echo "SONAR_TOKEN=${{ secrets.SONAR_TOKEN }}" >> $GITHUB_ENV
            echo "MVN_ADDITIONAL_OPTS=org.sonarsource.scanner.maven:sonar-maven-plugin:5.2.0.4988:sonar -Dsonar.host.url=https://sonarcloud.io -Dsonar.projectKey=${{ vars.SONAR_PROJECT_KEY }} -Dsonar.organization=${{ vars.SONAR_ORGANIZATION }} -Pcode-coverage" >> $GITHUB_ENV
            echo "GIT_FETCH_DEPTH=0" >> $GITHUB_ENV # Shallow clones should be disabled for a better relevancy of analysis
          else
            echo "MVN_ADDITIONAL_OPTS=" >> $GITHUB_ENV
            echo "GIT_FETCH_DEPTH=1" >> $GITHUB_ENV
          fi

      - uses: actions/checkout@v5
        with:
          fetch-depth: ${{ env.GIT_FETCH_DEPTH }}

      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw verify -e -B -V ${{ env.MVN_ADDITIONAL_OPTS }}
